body{
    /*font-family: "Gotham-Book" !important;*/
    color: #2F2F30!important;
}
#footer-secondary, .wrapper_homepage {
    background-color: #000c25;
}

.title_block{
    margin: 30px 0 30px 0;
}

.title_block_inner {
    font-family: "AllerDisplay-regular" !important;
}

/* design cat principal */


.products_block .featured_categories_list {
    grid-row-gap: 30px;
}

.products_block .featured_categories_list .chqcategorie {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 15px;
}

.chqcategorie .custom-card {
    display: block;
    text-decoration: none;
}

.chqcategorie .custom-card .category-thumb {
    border: 1px solid #baace9;
    border-bottom: 0;
    height: 174px;
}

.chqcategorie {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 15px;
}

.custom-card .category-thumb img {
    height: 100%;
    width: 100%;
    object-fit: none;
}

.custom-card .category-name {
    background-color: #6d2bc3;
    padding: 8px;
    min-height: 46px;
}

.custom-card .category-name h3 {
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    margin-bottom: 0;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.featured_categories_list {
    grid-row-gap: 30px;
}

/* design cat principal */


/* responsive cat principal */
@media (min-width: 768px) and (max-width: 991px) {
    .products_block .featured_categories_list .chqcategorie {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (min-width:1025px){
    .swiper-slide{
        width: 769px !important
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .products_block .featured_categories_list .chqcategorie {
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .title_block_inner {
        font-size: 22px !important;
    }

    #reinsurance_block li {
        width: 100%;
        padding: 15px 10px !important;
        font-size: 13px;
        color: #333;
        text-transform: uppercase;
        text-shadow: 0 1px 0 #fff;
        text-align: center;
        transition: all .5s;
        -moz-transition: all .5s;
        -webkit-transition: all .5s;
    }

}

@media (min-width: 481px) and (max-width: 575px) {
    .products_block .featured_categories_list .chqcategorie {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .title_block_inner {
        font-size: 22px !important;
    }

    #reinsurance_block li {
        width: 100%;
        padding: 15px 10px !important;
        font-size: 13px;
        color: #333;
        text-transform: uppercase;
        text-shadow: 0 1px 0 #fff;
        text-align: center;
        transition: all .5s;
        -moz-transition: all .5s;
        -webkit-transition: all .5s;
    }

}

@media (max-width: 480px) {
    .products_block .featured_categories_list .chqcategorie {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    #reinsurance_block li {
        width: 100% !important;
        padding: 15px 10px !important;
        font-size: 13px;
        color: #333;
        text-transform: uppercase;
        text-shadow: 0 1px 0 #fff;
        text-align: center;
        transition: all .5s;
        -moz-transition: all .5s;
        -webkit-transition: all .5s;

    }

    .title_block_inner {
        font-size: 18px !important;
    }


    .custom-card .category-name {
        min-height: auto;
    }

    .custom-card .category-name h3 {
        display: block;
        overflow: unset;
        -webkit-box-orient: unset;
        -webkit-line-clamp: unset;
    }

}

/* responsive cat principal */

#selectprod {
    padding-right: 0;
    padding-left: 0;
    position: relative;
    background-color: #ffff;
    margin-top: 20px;
    border-radius: 2px;
}


.product-selection {
    box-shadow: 0 0 5px #706f6f;
    overflow: hidden;
    height: 320px;
    position: relative;
}

.blocktitle {
    text-align: center;
    position: relative;
}

.title_cat {
    background-color: #6d2bc3;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font: 18px 'AllerDisplay-regular'
}

.detail_with_img {
    padding: 10px;
}

.product_img_link {
    text-align: left;
    font: 14px 'AllerDisplay-regular';
}

@media screen and (max-width: 1024px) {
    #selectprod {
        display: none;
    }

    .desktop-only, .vl ,.vl_footer_11,.vl_footer_13,.text_after_logo_footer,.text_,.line{
        display: none;
    }

}


.prixnormale {
    color: #48B5E0;
    font-weight: bold;
}


#st_mega_menu_wrap .ma_level_0 {
    white-space: break-spaces;
    line-height: 1.3;
    /* padding-left: 5px; */
    /* padding-right: 5px; */
    max-width: 136px;
    padding-bottom: 7px;
    padding-top: 12px;
}

#st_header .search_widget_block {
    width: 170px !important;
}

#st_ma_381{
    padding: 16px 34px !important;
}

.st_mega_menu .ma_level_0, .mobile_bar_tri_text, #st_mega_menu_column_mobile .mo_advanced_ma_level_0 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}

#wppost {
    background-color: #6D2BC3;
    padding-bottom: 2%;
    color: #fff;
    padding-top: 2%;
}

.last_blog_title, .mu_level_0 {
    font-family: "AllerDisplay-regular" !important;
}


#top_extra .st_mega_menu_container {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}


.st_mega_menu_container {
    background: #6d2bc3 url(https://stardusthost.stardustcolors.com/themes/panda/assets/img/bgmenu.png) repeat-x !important;
    background-position: center;
    height: 50px;
}


#reinsurance_block li span {
    padding-top: 12px;
    display: block;
    margin: 0 auto;
    font: 16px "AllerDisplay-Regular";
    color: #272428;
    text-align: center;
}

#reinsurance_block li img {
    float: none;
}

#reinsurance_block li {
    float: left;
    width: 14%;
    padding: 15px 10px !important;
    font-size: 13px;
    color: #333;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #fff;
    text-align: center;
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
}

#reinsurance_block li span {
    padding-top: 12px;
    display: block;
    margin: 0 auto;
    font: 16px "AllerDisplay-Regular";
    color: #272428;
    text-align: center;
}

.desktop-only {
    margin-left: 58px;
}

.vl {
    border-left: 1px solid #D7D7D7;
    height: 930px;
    position: absolute;
    left: 77%;
    top: 14px;
}

.vl_footer_11{
    border-left: 1px solid #460761;
    height: 470px;
    position: absolute;
    left: 30%;
    top: 50px;
}

.vl_footer_rs{
    border-left: 1px solid #460761;
    height: 482px;
    position: absolute;
    left: 66%;
    bottom: -11px;
}

.btn-rotate a {
    padding-right: 20px;
}

.cy-bloc{
    padding-top: 13px;
    padding-bottom: 7px;
    background-color: #000c25;
    border-radius: 4px;
    width: 97%;
    border: 1px solid #000c25;
    margin-left: 0;
}


.cy-desc{
    color: #fff;
    padding-top: 24px;
}

.chaine-youtube iframe{border: 1px solid #000}
.cy-desc h3{
    font-family: 'AllerDisplay-regular';
    text-transform: uppercase;
}

.cy-desc a{
    border: 1px solid #48b5e0;
    border-radius: 23px;
    background-color: #48b5e0;
    margin-left: 6px;
    text-transform: inherit;
    font-weight: bold;
    margin-top: 20%;
}

.e-cat{
    color: #48b5e0!important;
}

.vl_footer_13{
    border-left: 1px solid #460761;
    height: 470px;
    position: absolute;
    left: 66%;
    top: 50px;
}

.line{
    border-color: #460761!important;
    position: absolute;
    width: 60%;
    left: 18%;
    top: 194px;
}
}

article {
    border: 1px solid #B2BEB5;
}

.wide_container_box {
    padding: 22px 0;
}

#st_header .shop_logo {
    width: 241px !important;
}

.blockcart {
    background: url(https://stardusthost.stardustcolors.com/themes/panda/assets/img/bgcart.png) no-repeat;
    position: relative;
    min-width: 206px;
    height: 63px;
    margin-left: 30%;
    margin-bottom: 4%;
    background-size: 180px !important;
}

.cart_text {
    font: 15px "AllerDisplay-Regular";
    color: #412bad;
    text-transform: uppercase;
    padding-left: 62px;

}

.position_cart {
    flex-wrap: wrap;
    padding-top: 10px;
}

.item_cart {
    padding-left: 52px;
    font-size: 12px;
}

#steasy_column_23 {
    width: 120% !important;
}

#header_right_bottom .my_account_link, .login {
    border: 1px solid #48b5e0;
    border-radius: 23px;
    background-color: #48b5e0;
}

.my-account-cls, .login_cls {
    color: #fff !important;
    /*font-size: 12px !important;*/
    text-transform: capitalize !important;
}

#multilink_6 {
    border: 1px solid #48b5e0;
    border-radius: 23px;
    background-color: #48b5e0;
    margin-left: 6px;
}

#multilink_6 a {
    color: #fff !important;
   /* font-size: 12px !important; */
    text-transform: capitalize !important;
}


.ma_level_0.is_parent:after, .mv_item.is_parent:after {
    bottom: 0;
    content: "\e816" !important;
    font-size: 16px;
    height: 5px;
    left: 40%;
    line-height: 5px !important;
    opacity: 1 !important;
    overflow: hidden;
    position: absolute !important;
    top: 92% !important;
}

.detail h6 {
    text-transform: uppercase;
}

.detail{
    font-size: 13px;
}

.ajax_cart_product_txt{
    text-transform: lowercase;
}

.mobile_logo{
    padding-right: 20% !important;
}



#reinsurance_block {
    background: #fff;
    padding: 20px 0;
    position: relative
}

#reinsurance_block ul {
    overflow: hidden
}

#reinsurance_block li {
    float: left;
    width: 14%;
    padding: 15px 10px !important;
    font-size: 13px;
    color: #333;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #fff;
    text-align: center;
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s
}

#reinsurance_block li:hover {
    padding-top: 0 !important;
}

#reinsurance_block .width1 li {
    width: 960px
}

#reinsurance_block .width2 li {
    width: 470px
}

#reinsurance_block .width3 li {
    width: 305px
}

#reinsurance_block .width4 li {
    width: 224px
}

#reinsurance_block .width5 li {
    width: 175px
}

#reinsurance_block li img {
    float: none
}

#reinsurance_block li span {
    padding-top: 12px;
    display: block;
    margin: 0 auto;
    font: 16px "AllerDisplay-Regular";
    color: #272428;
    text-align: center
}

#reinsurance_block li a:hover span {
    color: #54A9E9!important
}

body #st_mega_menu_wrap .ma_level_0:before {
    position: absolute;
    width: 2px;
    height: 25px;
    content: url(https://stardusthost.stardustcolors.com/themes/panda/assets/img/afterli.png);
    right: 0;
    top: 15px;
}

.reseausociaux .titlebloc {
    font: 23px 'AllerDisplay-Regular';
    color: #ffff;
    text-transform: uppercase;
    /*margin-bottom: 15px;*/
}

.reseausociaux{
    padding-left: 26px !important;
}

.catalogue .titlebloc {
    font: 23px 'AllerDisplay-Regular';
    color: #ffff;
    text-transform: uppercase;
    /*margin-bottom: 15px;*/
}

.catalogue{
    padding-left: 22px!important;
}

.secondtitlebloc{
    color: #ffff;
    text-transform: uppercase;
}

.download_pdf_social{
    position: absolute;
    width: 191px;
    top: 36%;
}

footer .title_flex_right{
    display: none !important;
}

.text_after_logo_footer{
    padding-left: 65px;
    padding-right: 89px;
    font-size: 12px;
    text-transform: none;
    padding-top: 24%;
}

.logo_footer{
    padding-right: 20%;
    position: absolute;
    top: -20%;
}

.text_{
    padding-left: 65px;
    padding-right: 89px;
    padding-top: 10%;
    font-size: 12px;
    text-transform: none;
    text-align: match-parent;
    text-after-overflow: 0.2;
}

#footer .title_block .title_block_inner{
    color: #fff !important;
}

.bullet li a{
    color: #fff !important;
}

.stmultilink_item_29{
    width: 39%!important;
}
.stmultilink_item_28{
    width: 17% !important;
}

.li_arrow{
    color: #48b5e0 !important;
}

.info_footer{
    padding-top: 16px;
}

.text_info_technique,.text_info_commercial{
    color: #48b5e0;
    font-weight: bold;
}

.email_info_technique,.email_info_commercial{
    color: #6D2BC3;
    font-size: 14px;
    text-decoration: underline;
}

.number_service_commercial{
    color: #fff;
}

/* blog design */
* {
    box-sizing: border-box;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    border: 0 !important;
}
.card-header img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.card-header{
    padding: 0 !important;
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    min-height: 250px;
}
.tag_date_publish {
    color: #6D2BC3;
    border-radius: 50px;
    font-size: 14px;
    margin: 0;
}
.tag_show_more {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.tag_show_more a{
    color: #48b5e0;
}

.tag {
    background-color: #ccc;
    color: #fff;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    padding: 2px 10px;
    text-transform: uppercase;
}
.tag-teal {
background-color: #92d4e4;
}
.tag-purple {
background-color: #3d1d94;
}
.tag-pink {
background-color: #c62bcd;
}
.card-body h4 {
margin: 10px 0;
color:  #000c25;
font-family: 'AllerDisplay-regular';
text-transform: uppercase;
font-size: 16px;
}
.card-body p {
font-size: 14px;
margin: 0 0 40px 0;
font-weight: 500;
color: rgb(70, 68, 68);
}
.user {
display: flex;
margin-top: auto;
}
.user img {
width: 40px;
height: 40px;
border-radius: 50%;
margin-right: 10px;
object-fit: cover;
}
.user-info h5 {
margin: 0;
}
.user-info small {
color: #888785;
}
@media (max-width: 940px) {
.container-blog {
    grid-template-columns: 1fr;
    justify-items: center;
}
}

.container-blog{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 44px;
/*width: 940px;*/
margin: auto;
}


/**
design RS & catalogue
 */

#social-network{
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #2D1458;
}

.btn-rs{
    padding-bottom: 20px !important;
}

.view_more_blog a{
    text-transform: uppercase;
    font-family: AllerDisplay-regular;
    font-size: 16px;
    border: 1px solid #48b5e0;
    border-radius: 23px;
    background-color: #48b5e0;
    color: #fff;
    padding: 8px 14px;
}

.view_more_blog{
    padding-top: 40px;
    text-align: center;
}

.catalogue_img img{
    width: 64%;
    padding-top: 34px;
}

.download_img img{
    width: 64%;
}