#footer-secondary, .wrapper_homepage {
    background-color: #000000;
}

.title_block_inner {
    font-family: "AllerDisplay-regular" !important;
}

/* design cat principal */


.products_block .featured_categories_list {
    grid-row-gap: 30px;
}

.products_block .featured_categories_list .chqcategorie {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 15px;
}

.chqcategorie .custom-card {
    display: block;
    text-decoration: none;
}

.chqcategorie .custom-card .category-thumb {
    border: 1px solid #baace9;
    border-bottom: 0;
    height: 174px;
}

.chqcategorie {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 15px;
}

.custom-card .category-thumb img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.custom-card .category-name {
    background-color: #6d2bc3;
    padding: 8px;
    min-height: 46px;
}

.custom-card .category-name h3 {
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    margin-bottom: 0;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.featured_categories_list {
    grid-row-gap: 30px;
}

/* design cat principal */


/* responsive cat principal */
@media (min-width: 768px) and (max-width: 991px) {
    .products_block .featured_categories_list .chqcategorie {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .products_block .featured_categories_list .chqcategorie {
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .title_block_inner{
        font-size: 22px !important;
    }
    #reinsurance_block li {
        float: none;
        width: 33%;
        padding: 15px 10px !important;
        font-size: 13px;
        color: #333;
        text-transform: uppercase;
        text-shadow: 0 1px 0 #fff;
        text-align: center;
        transition: all .5s;
        -moz-transition: all .5s;
        -webkit-transition: all .5s;
    }
    #reinsurance_block {
        padding-left: 35%;
    }
}

@media (min-width: 481px) and (max-width: 575px) {
    .products_block .featured_categories_list .chqcategorie {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .title_block_inner{
        font-size: 22px !important;
    }
    #reinsurance_block li {
        float: none;
        width: 33%;
        padding: 15px 10px !important;
        font-size: 13px;
        color: #333;
        text-transform: uppercase;
        text-shadow: 0 1px 0 #fff;
        text-align: center;
        transition: all .5s;
        -moz-transition: all .5s;
        -webkit-transition: all .5s;
    }

    #reinsurance_block {
        padding-left: 35%;
    }
}

@media (max-width: 480px) {
    .products_block .featured_categories_list .chqcategorie {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    #reinsurance_block li {
        float: none;
        width: 33%;
        padding: 15px 10px !important;
        font-size: 13px;
        color: #333;
        text-transform: uppercase;
        text-shadow: 0 1px 0 #fff;
        text-align: center;
        transition: all .5s;
        -moz-transition: all .5s;
        -webkit-transition: all .5s;

    }

    .title_block_inner{
        font-size: 18px !important;
    }

    #reinsurance_block {
        padding-left: 35%;
    }

    .custom-card .category-name {
        min-height: auto;
    }

    .custom-card .category-name h3 {
        display: block;
        overflow: unset;
        -webkit-box-orient: unset;
        -webkit-line-clamp: unset;
    }

}

/* responsive cat principal */

#selectprod {
    padding-right: 0;
    padding-left: 0;
    position: relative;
    width: 90%;
    margin-left: 60px;
    background-color: #ffff;
    margin-top: 40px;
}


.product-selection {
    box-shadow: 0 0 5px #706f6f;
    overflow: hidden;
    height: 242px;
    position: relative;
}

.blocktitle {
    text-align: center;
    position: relative;
}

.title_cat {
    background-color: #6d2bc3;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.detail_with_img {
    padding: 10px;
}

.product_img_link {
    font-weight: bold;
    text-align: left;
}

@media screen and (max-width: 991px) {
    #selectprod {
        display: none;
    }
    .desktop-only , .vl {
        display: none;
    }

}


.prixnormale{
    color: #48B5E0;
    font-weight: bold;
}


#st_mega_menu_wrap .ma_level_0 {
    white-space: break-spaces;
    height: auto;
    line-height: 1.3;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 140px;
}

#st_header .search_widget_block {
    width: 192px !important;
}

.st_mega_menu .ma_level_0, .mobile_bar_tri_text, #st_mega_menu_column_mobile .mo_advanced_ma_level_0 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}
#wppost{
    background-color: #6D2BC3;
    padding-bottom: 5%;
    color: #fff;
    padding-top: 5%;
}

.last_blog_title{
    font-family: "AllerDisplay-regular" !important;
}

#st_mega_menu_wrap .ma_level_0 {
    height: 50px !important;
    padding-top: 7px;
    padding-bottom: 7px;
}

#top_extra .st_mega_menu_container{
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

#reinsurance_block li span {
    padding-top: 12px;
    display: block;
    margin: 0 auto;
    font: 16px "AllerDisplay-Regular";
    color: #272428;
    text-align: center;
}

#reinsurance_block li img {
    float: none;
}

#reinsurance_block li {
    float: left;
    width: 14%;
    padding: 15px 10px !important;
    font-size: 13px;
    color: #333;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #fff;
    text-align: center;
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
}

#reinsurance_block li span {
    padding-top: 12px;
    display: block;
    margin: 0 auto;
    font: 16px "AllerDisplay-Regular";
    color: #272428;
    text-align: center;
}

.desktop-only{
    margin-left: 58px;
}

.vl {
    border-left: 1px solid #B2BEB5;
    height: 930px;
    position: absolute;
    left: 77%;
    top: 14px;
}

article{
    border: 1px solid #B2BEB5;
}

.last_blog_img{

}