<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>stsearchbar</name>
    <displayName><![CDATA[Search bar mod]]></displayName>
    <version><![CDATA[1.6.7]]></version>
    <description><![CDATA[Adds a quick search field to your website.]]></description>
    <author><![CDATA[SUNNYTOO.COM]]></author>
    <tab><![CDATA[search_filter]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>