.title {
    display: inline-block;
    text-align: center;
    text-decoration: underline;
    font-weight: normal;
    font-size: 11pt;
    padding: 8pt;
    border-bottom: 1pt solid red;
}

.body {
    font-size: 9pt;
    color: #171717;
}

.bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.logo-container, .pagination-container {
    text-align: right;
}

.table-header {
    padding-top: 12pt;
}
.table-header td {
    width: 33%;
}

.hspace {
    background-color: white;
    display: block;
    font-size: 4pt;
    line-height: 4pt;
    border: none;
    margin: 0; padding: 0;
}
.hrule {
    color: #474747;
    background-color: #474747;
    display: block;
    font-size: 0.625pt;
    line-height: 0.625pt;
    border: none;
    margin: 0; padding: 0;
}

table {
    margin: 0; padding: 0;
}

.footer-text {
    margin: 0;
    padding: 0;
    font-size: 6pt;
}
