/* BLOCK #reinsurance_block ******************************************************************** */
#reinsurance_block {background:#fff;padding: 20px 0;position: relative;}
#reinsurance_block ul{ overflow: hidden;}
#reinsurance_block li {
	float:left;
	width: 14%;
	padding:30px 10px !important;
	font-size:13px;
	color:#333;
	text-transform:uppercase;
	text-shadow:0 1px 0 #fff;
	text-align: center;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
}
#reinsurance_block li:hover{
	padding-top:7px !important;
}
#reinsurance_block .width1 li {width:960px}
#reinsurance_block .width2 li {width:470px}
#reinsurance_block .width3 li {width:305px}
#reinsurance_block .width4 li {width:224px}
#reinsurance_block .width5 li {width:175px}
#reinsurance_block li img{
	float:none;
}
#reinsurance_block li span {
	padding-top:12px;
	display: block;
	margin: 0 auto;
	font:16px "AllerDisplay-Regular";
	color: #272428;
	text-align: center;
}
#reinsurance_block li a:hover span{ color: #f9a744!important;}